<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="footer">
	<h2 class="main" data-lfr-editable-id="footer" data-lfr-editable-type="text">
		©2022 Bibline Foundation
	</h2>
	
	<p class="location" data-lfr-editable-id="location" data-lfr-editable-type="text">1400 Montefino Avenue, Suite 100</p>
	<p class="location" data-lfr-editable-id="location1" data-lfr-editable-type="text"> Diamond Bar, CA 91765</p>
	<p class="location" data-lfr-editable-id="location2" data-lfr-editable-type="text"> USA</p>
	
</div>

	<div class="buttonClass">
			<button id="button"><span>Contact</span></button>
	</div>