.section-header .section-header-logo {
	height: 130px;
	max-height:130px;
	max-width:130px;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}