* {
maragin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppings', sans;

}

body {
display: flex;
justify-content: center;
min-height: 100vh;
background: white;
}

s {
position: relative;
display: inline-block;
padding: 20px 40px;
text-decoration: none;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.4);
background: #3B3E48;
letter-spacing: 2px;
font-size: 20px;
transition: 0.5s;
border-radius: 5px;
}

s:hover {
color: white;
text-decoration: none;
background: grey;
cursor: pointer;
}

s span {
display: block;
position: absolute;
background: #2894ff;
}