.us:link, .us:visited {
  background-color: transparent;
  color: white;
	display:flex;
	padding:2px;
	margin:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	border-radius:5px;
}

.us:hover, .us:active {
  background-color: white;
  color: red;
}