[#assign privateFriendlyURL = themeDisplay.getPathFriendlyURLPrivateGroup() +
themeDisplay.getSiteGroup().getFriendlyURL() publicFriendlyURL =
themeDisplay.getPathFriendlyURLPublic() +
themeDisplay.getSiteGroup().getFriendlyURL() /] [#assign clayIconSVG =
themeDisplay.getCDNBaseURL() + "/o/admin-theme/images/clay/icons.svg" /]

<nav class="navbar navbar-expand-lg navbar-light pb-3 pt-2 public-site-navbar">
	<div class="container d-block">
		<div class="align-items-center d-flex">
			<div class="align-items-center d-flex flex-grow-1 justify-content-between justify-content-lg-start mr-3">
				<a class="d-flex flex-column navbar-brand" href="${publicFriendlyURL}">
					<img alt="" class="align-top d-inline-block navbar-logo" data-lfr-editable-id="image-logo" data-lfr-editable-type="image" loading="lazy" src="[resources:logo_sismepe.jpg]" />
				</a>
			</div>

			<div class="menu-drop">
				<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="ghost navbar-toggler sismepe-navbar-button" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
					<div class="align-items-center d-flex justify-content-between">
						<span class="font-weight-bolder mr-1 paragraph-sm">MENU</span>
						<span class="background-icon-grid" id="button-menu-icon"></span>
					</div>
				</button>
			</div>
		</div>

		<div class="collapse navbar-collapse rounded-sm" id="navbarSupportedContent">
			<lfr-widget-nav id="nav"></lfr-widget-nav>

			<a class="btn btn-ghost btn-style-primary" href="${publicFriendlyURL}/sign-in" role="button">Meu SISMEPE</a>
		</div>
	</div>
</nav>