<footer class="bg-brand-primary-darken-5 c-py-6 c-py-lg-10 c-py-md-6 c-py-sm-6 footer public-footer">
	<div class="container px-4">
		<div class="c-mt-8 c-mt-lg-10 c-mt-md-10 c-mt-sm-8 c-pb-4 d-flex flex-wrap footer-bottom justify-content-between">
			<ul class="col-lg-6 col-md-6 col-sm-12 flex-row footer-nav justify-content-lg-start justify-content-md-start justify-content-sm-between nav order-2 order-lg-1 order-md-1 order-sm-2 p-0">
				<li class="c-mr-5 nav-item">
					<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Privacidade</a>
				</li>
				<li class="nav-item">
					<a class="c-p-0 font-weight-semi-bold nav-link public-footer-opacity--50 text-link-sm text-neutral-0" href="#">Termos de uso</a>
				</li>
			</ul>

			<ul class="c-mb-4 c-mb-lg-0 c-mb-md-0 c-mb-sm-4 col-lg-6 col-md-6 col-sm-12 flex-row footer-nav justify-content-md-end nav order-1 order-lg-2 order-md-2 order-sm-1 p-0">
				<li class="c-mr-5 nav-item">
					<a class="c-p-0 nav-link text-neutral-0" href="#">
						<img alt="instagram" src="[resources:instagram.svg]" />
					</a>
				</li>
			</ul>
		</div>

		<div class="c-mt-4 col-12 col-lg-12 col-md-12 col-sm-12 footer-copy p-0">
			<p class="c-mb-0 font-weight-normal public-footer-opacity--50 text-neutral-0 text-paragraph-sm">©SISMEPE. Todos os direitos reservados.</p>
		</div>
	</div>
</footer>