<header class="bg-dark navbar navbar-dark py-4 section-header text-white">
		<img alt="Logo Image" class="section-header-logo" data-lfr-editable-id="01-logo" data-lfr-editable-type="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAnSURBVHgB7cwxEQAACAOxgn8fHB7wBiK6MHwEJKpnZUiZCAgIvgQHmksDKxJ1SeoAAAAASUVORK5CYII=" />


			<div class="styles">
				<a class="btn btn-outline-light btn-sm" data-lfr-editable-id="01-link" data-lfr-editable-type="link" href="#" id="fragment-${fragmentEntryLinkNamespace}-01-link">
					About Us
				</a>
				<a class="btn btn-outline-light btn-sm" data-lfr-editable-id="02-link" data-lfr-editable-type="link" href="#" id="fragment-${fragmentEntryLinkNamespace}-02-link">
					Sign In
				</a>
				<a class="btn btn-outline-light btn-sm" data-lfr-editable-id="03-link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-03-link">
					INVEST
				</a>
	</div>