<div class="page-header">
	<div class="align-items-center container">
		<div class="welcome-message">
			<div class="page-header-title mb-2"><span class="font-weight-bolder" data-lfr-editable-id="Name" data-lfr-editable-type="text">
				Hi my friend.</span> <br> 
				<span data-lfr-editable-id="Name2" data-lfr-editable-type="text">I hope you're well.</span>
			</div>
		</div>

		<div class="contact-info">
			<img alt="" src="[resources:headphones.svg]" />

			<div>Need Assistant? <br /><a href="">Contact Us</a></div>
		</div>
	</div>
</div>