<div class="page-header">
	<div class="align-items-center container">
		<div class="welcome-message">
			<div class="page-header-title mb-2"><span class="font-weight-bolder" data-lfr-editable-id="Name" data-lfr-editable-type="text">
				BIBLINE FOUDATION</span> <br> <br>
				<span data-lfr-editable-id="Name2" data-lfr-editable-type="text">Monte Moriah, Aldeia/ Pernambuco.</span>
			</div>
		</div>

		<div class="contact-info">
			<img alt="" src="[resources:headphones.svg]" />

			<a href="" data-lfr-editable-id="contact" data-lfr-editable-type="link">Contact Us</a>
		</div>
	</div>
</div>