<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	
</body>

background{
	color: red;
}

<div class="footer">
	<footer>
		
		
   <br>
		 <p>
			 
	
		<h3 class="name">
			&copy;2022 Bibline Foundation
		</h3>	 
		<p class="name1">
		1400 Montefino Avenue, suite 100<br>
		Diamond Bar, CA 91765<br>
		USA<br></p>
		<h2 class="name2">
		Contact
	</h2>
	

    </footer>
	
	           
	
</div>

</html>